.row {
	margin-left: 20px;
	color: white;
}

.row__posters {
	display: flex;
	overflow-x: scroll;
	padding: 20px;
}

.single__poster {
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.row__poster {
	object-fit: contain;
	width: 100%;
	max-height: 150px;
	transition: transform 450ms;
	margin-right: 15px;
	cursor: pointer;
}

.row__poster:hover {
	transform: scale(1.08);
	opacity: 1;
}

.row__posterLarge {
	max-height: 300px;
}

.row__posterLarge:hover {
	transform: scale(1.09);
}

.movie__title {
	color: white;
	text-align: center;
}

/* .youtube__container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
} */
